.btn{
    color:$primary-color;
    &--primary{
        background-color: $bg-color;
        margin-bottom: 15px;
    }
    &--lg{
        padding: 10px 36px;
        font-size: 1.2em;
    }
    &--gradient{
        background: linear-gradient(to bottom right,$bg-color, #4D1A80);
        text-transform: uppercase;
        color: white;
        border-radius: 5px;
    }
    &:hover{
        color: $base-color;
    }
    
}