.navbar{
    background: $bg-color;
    padding: 20px 0;
}
.navbar-default .navbar-nav > li > a{
    color : $primary-color;
    text-transform: uppercase;
    &:hover{
        color:$base-color;
    }
}
.navbar-default .navbar-brand{
    color: white;
    font-size: 2.3rem;
    font-weight: 400;
    text-transform: uppercase;
}
